@{
    ViewBag.Title = "Регистрация обращений";
}

<div class="jumbotron">
    <h1>Сайт регистрации обращений</h1>
    <p class="lead">Здесь вы можете оставить заявку или следить за статусом существующей</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Оставить заявку</h2>
        <p>
            Переход на страницу для подачи обращения
        </p>
        <p><a class="btn btn-default" href="Query/Create">Подать &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Отследить статус заявки</h2>
        <p>Нужен ваш email для аутентификации</p>
        <p><a class="btn btn-default" href="View/Login">Перейти &raquo;</a></p>
    </div>
</div>