@model Models.ViewModels.UserLoginView

@{
    ViewBag.Title = "CreateAjax";
}

<h2>Ваши обращения</h2>



<script src='@Url.Content("~/Scripts/jquery-1.10.2.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'>         </script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div id="result"></div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Заявка принята</h4>
            </div>
            <div class="modal-body">
                <p>Ваша заявка успешно принята. Ваш номер заявки <strong id="QueryId"></strong></p>
                <a asp-controller="Home" asp-action="Index"></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<p>
    <label for="email">Email :</label>
    <input id="email" type="email" required="@true" name="email" />
</p>
<br />
<p>
    <label for="password">Password :</label>
    <input type="password" id="password" name="password" data-msg="Пароль не может быть пустым" />
</p>
<br />
<input id="submit-btn" type="button" value="Войти" />


<script type="text/javascript">
    $("#submit-btn").click(function () {
        debugger;
        var data = { Email: $('#email').val(), Password: $('#password').val() };
        $.post('/CreateAjax/Index', data, function (result) {
            if (result.IsSuccess) {
                location.href = "/View/Querylist/";
            } else {
                $("#myModal").modal('show');
            }

            //need to wrap data to json and send via (post,ajax or get) all are from jquery. Just leave form and button.
            //Manually
            //2 actions depending on respond (1: Login Error 2: Show user queries)
        })

    });
    //$.ajax({url, data, successCallback, error, dataType, conten,,,,,})
    //$.get;
</script>
<script type="text/javascript">
    $(document).ready(function () {



    });


</script>